<%- include("./partials/header.ejs") %>

<div class="container d-flex flex-wrap justify-content-around ">
    <% if(blogs.length >0){ %>
    <% blogs.forEach(function (blog) { %> 
        <div class="card my-3" style="width: 18rem;">
            <% if(blog.fileimg){ %>
                <img src="/images/<%= blog.fileimg %>" class="card-img-top" alt="...">
            <% } %>
            <div class="links d-flex justify-content-around">
                <a href="/editinfo/<%= blog.author %>" class="btn editbtns btn-sm" style="width: 25%; margin-block: 20px;">Edit</a>
            <a href="/delete/<%= blog.author %>" class="btn editbtns btn-sm " style="width: 25%;margin-block: 20px;">Delete</a>
        </div>
            <div class="card-body">
                <% if(blog.heading) { %>    
                    <h5 class="card-title"><%= blog.heading %></h5>
                <% } %>
                <% if(blog.author) { %>    
                    <p><%= blog.author %></p>
                <% } %>
                <% if(blog.blog) { 
                        let preview = blog.blog.length > 100 ? blog.blog.substring(0, 100) + ' ... <a href="/readme/' + blog.author + '">Read more</a>' : blog.blog; %>
                        <p class="card-text readmore"><%- preview %></p>
                    <% } %>
            </div>
           
        </div>
        <% }); %>
        
        <% } else{%>
            <div class="noblogscont ">
                <h1 style="display: block;">No Blogs </h1>
                
                <a href="/create">Create A Blog</a>
            </div>
            <% } %>
        </div>
    <%- include("./partials/footer.ejs") %>
    
