<%- include("partials/header.ejs") %>
<div class="card" style=" width: 100%;">
    <img src="https://onlinejpgtools.com/images/examples-onlinejpgtools/leaves-with-droplets.jpg" style="height: 200px;" class="card-img-top" alt="..." >
    <div class="card-body">
        <div class="container padcontainer border border-1">
          <% if(locals.blogs){ %>
        <form action="/editinfo/<%= blogs.author %>" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <% if(blogs.author){ %>
                <input type="text" class="form-control" name="author" placeholder="author" value="<%=blogs.author%>" aria-label="Username" aria-describedby="basic-addon1">
                <% } %>
            </div>
            
              <div class="input-group mb-3">
                <% if(blogs.topic){ %>
                <input type="text" name="topic" class="form-control" placeholder="topic" value="<%= blogs.topic %>" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <% } %>
              </div>   
             
              <div class="input-group mb-3">
                <% if(blogs.heading){ %>
                <input type="text" class="form-control" name="heading" placeholder="heading" value="<%= blogs.heading %>" aria-label="Username">
                <% } %>
              </div>
                            
              <div class="input-group mb-3">
                  <span class="input-group-text">Blog</span>
                  <% if(blogs.blog){ %>
                <textarea class="form-control" name="blog" aria-label="With textarea"><%= blogs.blog %></textarea>
                <% } %>
                
              </div>
              <div class="input-group mb-3">
                <input class="form-control" name="fileimg" type="file" id="formFile">
              </div>
              <div class=" mb-3 d-flex justify-content-center ">
                <!-- <input type="submit" class="form-control" placeholder="submit" aria-label="Username"> -->
                <button type="submit" class="btn btn-secondary btn-lg ">Submit</button>
              </div>
            </form>
          </div>
         
<% } else{%>
  <div class="noblogscont ">
   <h1 style="display: block;">No Blogs </h1>
   
   <a href="/create">Create A Blog</a>
  </div>
   <% } %>
    </div>
  </div>
 
<%- include("partials/footer.ejs") %>